__pycache__/
build/
datasets/
mlruns/
*.egg-info
models/
data/
*.npy
*.h5
*.zip
cells/
logs/
raw_data/
venv/
occlusion_data/
.ipynb_checkpoints/
*.bak
*.dir
*.dat
*.db
*.csv
*.log
*.code-workspace
.venv
.vscode
apl_classification/.env
common_config.py
